<li class="dropdown" data-admin-menu>
    <a href="#">
        <span class="glyphicon glyphicon-chevron-down">Admin</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li></li>
    </ul>
</li>
